@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

body
{
	width:100%;
	margin:0;
	padding:0; 
	background-color:#999;
}
	
html
{ 
	padding:0;
	margin:0;
	background-color:#999;
}

a 
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
} 

/*rating*/
.rating-container .caption,.rating-container .clear-rating,.rating-container 
.rating{display:inline-block;vertical-align:middle}
.rating-loading{width:25px;height:25px;font-size:0;color:#fff;background:url(../img/loading.gif) top left no-repeat;border:none}
.rating-container 
.rating{cursor:default;position:relative;overflow:hidden;white-space:nowrap}
.rating-disabled 
.rating{cursor:not-allowed}
.rating-container 
.star{display:inline-block;margin:0 3px;text-align:center}
.rating-container 
.empty-stars{color:#aaa}
.rating-container 
.filled-stars{position:absolute;left:0;top:0;margin:auto;color:#fde16d;white-space:nowrap;overflow:hidden;-webkit-text-stroke:1px #777;text-shadow:1px 1px #999}
.rating-rtl{float:right}
.rating-animate 
.filled-stars{transition:width .25s ease;-o-transition:width .25s ease;-moz-transition:width .25s ease;-webkit-transition:width .25s ease}
.rating-rtl 
.filled-stars{left:auto;right:0;-moz-transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0);-webkit-transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0);-o-transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0);transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0)}
.rating-rtl.is-star 
.filled-stars{right:.06em}
.rating-rtl.is-heart 
.empty-stars{margin-right:.07em}
.rating-lg{font-size:3.91em}
.rating-md{font-size:3.13em}
.rating-sm{font-size:2.5em}
.rating-xs{font-size:2em}
.rating-xl{font-size:4.89em}
.rating-container 
.clear-rating{color:#aaa;cursor:not-allowed;font-size:60%;padding-right:5px}
.clear-rating-active{cursor:pointer!important}
.clear-rating-active:hover{color:#843534}
.rating-container .caption{color:#999;font-size:60%;margin-top:-0.6em;margin-left:5px;margin-right:0}
.rating-rtl 
.caption{margin-right:5px;margin-left:0}@media print{.rating-container .clear-rating{display:none}}


/*header*/
.block_header 
{
	 margin:0; 
	 padding:0;
	 background-color:#0c56c1;
	 
}

.header 
{
	margin:0 auto;
	padding:0 ; 
	width: 80%;
}

.logo 
{
	padding:0;
	margin:20px 0 0 20px; 
	width:30%; 
	float: left;
}

.header h1
{ 
	padding:0; 
	margin: 35px 25px ;
	display: inline-block;
	width: 30%;
	text-align:center;
	font:3.5em 'Montserrat Alternates';
}

.car 
{ 
	display:block;
	width:15%; 
	float: right; 
	padding:0; 
	margin:0;
}

/*products*/
.FBG
{
	margin:0;
	padding:0; 
	background-color:#999;
}


.FBG_content
{	
	min-height:450px;
	width: 85%;
	border: 2px inset #DDD;
	padding: 5px 5px;
	margin:0 auto;
	background-color:#999;
}


.inline h1
{ 
	padding:0; 
	margin: 0 ;
	width: 55%;
	display: inline-block;
	text-align:right;
	font:3.5em 'Montserrat Alternates';
}

.cart
{
	display: inline-block;
	width: 10%;
	padding: 0;
	margin: 0;
	float: right;
}

.cart2
{
	padding: 0;
	margin: 0;
	text-align: center;
	
}

.inline h2
{ 
	padding:0; 
	margin:0;
	display: inline-block;
	font:1em 'Montserrat Alternates';
}

.inline h3
{
	font:2em 'Montserrat Alternates';
	display: inline-block;
	width: 100%;
	color:blue;
	text-align: center;
	padding: 0; 
	margin:0;
}

.inline a
{
	font:4em 'Montserrat Alternates';
	color:red;

}

.FBG_content a
{
	font:1em 'Montserrat Alternates';
	color:blue;
	
}

.FBG_content p
{
	text-align: center;
}

.FBG_content h1
{
	font:2em 'Montserrat Alternates';
	color:blue;


}

.FBG_content h2
{
	font:1.2em 'Montserrat Alternates';
	text-align: center;
}

.error2
{
background: none repeat scroll 0 0 #BC1010; 
border-radius: 20px 20px 20px 20px; 
color: white; 
font-weight: bold; 
padding: 10px 20px; 
text-align: center;
display: none;
}

.error3
{
background: none repeat scroll 0 0 #BC1010; 
border-radius: 20px 20px 20px 20px; 
color: white; 
font-weight: bold; 
padding: 10px 20px; 
text-align: center;
display: block;

}
/*products*/
.producto
{
	width: 23%;
	height: auto;
	background-color: #c8c8c8;
	border: 2px inset #DDD;
	display: inline-block;
	margin: 10px 2px 2px 11px;
	padding: 0;
}

.cantidad 
{
text-align: center;
font:0.8em 'Montserrat Alternates';
}


.test
{
text-align: center;
font:0.8em 'Montserrat Alternates';
}

.producto img
{
	margin:4px 2px;
}

.producto span
{
	font:0.8em 'Montserrat Alternates';
}

.producto a
{
	font:0.8em 'Montserrat Alternates';
}

.producto input
{
	width: 100px;

}

.producto input[type="number"]
{
	width: 40px;
	height: 20px;
	background-color: #c8c8c8;
	text-align: center;
}

.producto input[type="text"]
{
	width: 40px;
	height: 20px;
	text-align: center;
}

.button
{

 margin: 4px 4px;	
 background-color: #999;
 width: 100px;
 font:0.8em 'Montserrat Alternates';
 color: red;

}



/*centered*/	
.centrado
{
	text-align: center;
}

.justificado
{

	text-align: justify;
	font:1.5em 'Montserrat Alternates';
}

.details
{

	width: 48%;
	height: 350px;
	background-color: #c8c8c8;
	border: 2px solid #DDD;
	margin: 10px 2px 2px 11px;
	padding: 0;
	float: left;


}

.details span
{
	font:0.8em 'Montserrat Alternates';

}





.details input[type="number"]
{
	width: 40px;
	height: 20px;
	background-color: #c8c8c8;
	text-align: center;
}

.width 
{
	width: 50%;
	display: inline-block;
	
}

/*select transport type*/
.select 
{
  direction: rtl;
  border: 1px inset #ccc;
  width: 200px;
  background-color: #999;
  font: 1em 'Montserrat Alternates'; 
}

.button2
{

 background-color: #999;
 width: 100px;
 font:1em 'Montserrat Alternates';
 color: red;

}

/*clear*/
.clr
{
	clear:both;
	padding:0; 
	margin:0; 
}