@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);
body
{
	width:100%;
	margin:0;
	padding:0; 
	background-color:#999;
}
	
html
{ 
	padding:0;
	margin:0;
	background-color:#999;
}

a 
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
} 

.contenedor 
{
  width: 100%;
  margin: 0 auto;	
  overflow: hidden;
}

/*rating*/
.rating-container .caption,.rating-container .clear-rating,.rating-container 
.rating{display:inline-block;vertical-align:middle}
.rating-loading{width:25px;height:25px;font-size:0;color:#fff;background:url(../img/loading.gif) top left no-repeat;border:none}
.rating-container 
.rating{cursor:default;position:relative;overflow:hidden;white-space:nowrap}
.rating-disabled 
.rating{cursor:not-allowed}
.rating-container 
.star{display:inline-block;margin:0 3px;text-align:center}
.rating-container 
.empty-stars{color:#aaa}
.rating-container 
.filled-stars{position:absolute;left:0;top:0;margin:auto;color:#fde16d;white-space:nowrap;overflow:hidden;-webkit-text-stroke:1px #777;text-shadow:1px 1px #999}
.rating-rtl{float:right}
.rating-animate 
.filled-stars{transition:width .25s ease;-o-transition:width .25s ease;-moz-transition:width .25s ease;-webkit-transition:width .25s ease}
.rating-rtl 
.filled-stars{left:auto;right:0;-moz-transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0);-webkit-transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0);-o-transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0);transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0)}
.rating-rtl.is-star 
.filled-stars{right:.06em}
.rating-rtl.is-heart 
.empty-stars{margin-right:.07em}
.rating-lg{font-size:3.91em}
.rating-md{font-size:3.13em}
.rating-sm{font-size:2.5em}
.rating-xs{font-size:2em}
.rating-xl{font-size:4.89em}
.rating-container 
.clear-rating{color:#aaa;cursor:not-allowed;font-size:60%;padding-right:5px}
.clear-rating-active{cursor:pointer!important}
.clear-rating-active:hover{color:#843534}
.rating-container .caption{color:#999;font-size:55%;margin-top:-0.6em;margin-left:5px;margin-right:0}
.rating-rtl 
.caption{margin-right:5px;margin-left:0}@media print{.rating-container .clear-rating{display:none}}

/*header*/
.block_header 
{
	margin:0; 
	padding:0;
	background-color:#0c56c1;
	width: 100%;
	 
}
.header 
{
	margin:0 auto;
	padding:0 ; 
	max-width: 960px;

}
.logo 
{
	padding:6px 6px;
	
}
.logo img
{
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.car 
{ 
	display:block;
	width:15%; 
	float: right; 
	padding:0; 
	margin:0;
}

/*products*/
.FBG
{
	margin:0;
	padding:0; 
	background-color:#999;
	width: 100%;
}


.FBG_content
{	
	min-height: 450px;
	max-width: 960px;
	border: 2px inset #DDD;
	padding: 3px 3px;
	margin:0 auto;
	background-color:#999;
	box-sizing: border-box;
}

.titulo
{
	width: 56%;
	display: inline-block;
}
.titulo h1
{ 
	padding:0; 
	margin: 0 ;
	font:3.5em 'Montserrat Alternates';
	text-align: right;

}

.cart
{
	width: 40%;
	display: inline-block;
	padding: 0;
	text-align: right;
	
}

.products_listing
{
	width: 100%;
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.producto
{
	max-width: 24%;
	min-width: 220px;
	height: auto;
	background-color: #c8c8c8;
	border: 2px inset #DDD;
	display: inline-block;
	margin-top: 3px;
	padding: 3px;
	box-sizing: border-box;
}

.producto img
{
	margin:4px 2px;
	-webkit-transition: -webkit-transform 0.4s linear;
	-ms-transition:-ms-transform 0.4s linear; /*ie*/
	max-width: 100%
}

.producto img:hover
{
  transform: scale(1.1, 1.1)
}

.producto span
{
	font:0.8em 'Montserrat Alternates';
}

.producto a
{
	font:1em 'Montserrat Alternates';
}

.producto input[type="number"]
{
	width: 16%;
	height: auto;
	background-color: #c8c8c8;
	text-align: center;
}

.producto input[type="text"]
{
	width: 40px;
	height: 20px;
	text-align: center;

}

.producto input[type="submit"]
{
	width: auto;
	height: auto;
	text-align: center;
	font:0.9em 'Montserrat Alternates';
 	color: black;
 	background-color: #999;
    margin: 3% 3%;	

}
.cart h2

{
	display: inline-block;
	padding: 0;
	text-align: right;
	margin: 1px 15px;
}

.cart2
{
	padding: 0;
	margin: 0;
	text-align: center;
	
}

.products_listing h1
{ 
	padding:0; 
	margin:0;
	text-align: center;
	font:1em 'Montserrat Alternates';
}

.products_listing h3
{
	font:2em 'Montserrat Alternates';
	color:blue;
	text-align: center;
	padding: 0; 
	margin:0;
}

.products_listing a
{
	font:4em 'Montserrat Alternates';
	color:red;

}

.FBG_content a
{
	font:1.2em 'Montserrat Alternates';
	color:blue;
	padding:0;
	margin: 0;
	
}

.FBG_content p
{
	text-align: center;
}

.FBG_content h1
{
	font:2em 'Montserrat Alternates';
	color:blue;


}

.FBG_content h2
{
	font:1.2em 'Montserrat Alternates';
	text-align: center;
}

.error2
{
margin:0 auto; 
padding:0;
display: none;
}

.error2 h2
{
background-color: #f9374e; 
border-radius: 5px; 
color: #fff; 
font-weight: bold; 
font: 18px 'Montserrat Alternates';
padding: 10px 20px; 
text-align: center;
display: block;
}

.cantidad 
{
text-align: center;
font:0.8em 'Montserrat Alternates';
}


.test
{
text-align: center;
font:0.8em 'Montserrat Alternates';
}

.centrado
{
	text-align: center;
}

.products_details
{
	margin: 0 auto;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	display: block;
	text-align: center;
}

.details
{
	width: 45.3%;
	min-width: 350px;
	min-height: 350px;
	height: auto;
	display: inline-block;
	background-color: #c8c8c8;
	border: 2px inset #DDD;
	margin: 1px 3px;
	padding: 5px;
	box-sizing: border-box;
	overflow: hidden;
}

.details img
{
	-webkit-transition: -webkit-transform 0.4s linear;
	-ms-transition:-ms-transform 0.4s linear; /*ie*/
	max-width: 100%;
	margin:4px 2px;
}

.details img:hover
{
  transform: scale(1.1, 1.1)
}


.details span
{
	font:0.8em 'Montserrat Alternates';

}

.details p
{
	font:1.1em 'Montserrat Alternates';
	text-align: justify;
}

.details input[type="number"]
{
	width: 13%;
	min-height: 20px;
	background-color: #c8c8c8;
	text-align: center;
}	

.details input[type="submit"]
{
	width: 30%;
	min-height: 30px;
	text-align: center;
	font:0.9em 'Montserrat Alternates';
 	color: black;
 	background-color: #999;
 	margin: 4px 4px;	
 	box-sizing: border-box;
}

/*select transport type*/
.select 
{
  direction: rtl;
  border: 1px inset #ccc;
  width: 200px;
  background-color: #999;
  font: 1em 'Montserrat Alternates'; 
}

.button2
{
 background-color: #999;
 width: 100px;
 font:1em 'Montserrat Alternates';
 color: red;
 margin-top: 5px;
}
/*clear*/
.clr
{
	clear:both;
	padding:0; 
	margin:0; 
}

@media (max-width: 900px) 
{
	.products_listing
	{
		text-align: justify;
		width: 85%;
	}

}
/*responsive*/  
@media (max-width: 800px) 
{
  	.titulo
	{
		width: 100%;
		
	}

	.titulo h1
	{
		text-align: center;
		
	} 
	.cart
	{
		width: 100%;
		padding: 5px 10px;
		box-sizing: border-box;
	}

	.producto
	{
		max-width: 24%;
		min-width: 240px;
	}

	.products_listing
	{
		text-align: center;
	}

	
	.products_details
	{	
	width: 100%;	
	}

	.details
	{
	min-width: 275px;	
	}
	
}

/*responsive*/  
@media (max-width: 600px) 
{
	.producto
	{	
		min-width: 255px;
	}

	.products_listing
	{
	text-align: center;
	width: 90%;
	}
}